<div class="log-in">
<div class="panel panel-primary">
  <div class="panel-heading">
    
    <h1>About Us</h1>
    </div>
  <div class="panel-body">Panel Content


<p>Store-Rangers is an online store where everyone can sell their product(s) without the drama of owning or paying for a website</p>
<hr>
</div>
</div>
    </div>