



<div class="log-in">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Contact us for more info</h2>
    
    </div>
  <div class="panel-body">Panel Content


<p>Store-Rangers is an online store where everyone can sell their product(s) without the drama of owning or paying for a website</p>
    <address>
Email: info@global-market.com <br>
Telephone: 02036998787 <br>
Website: http://www.microbites.co.uk<br><hr>
</address>  
<hr>
</div>
</div>
    </div>